adf-biomatric/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-biomatric"
		},
		"af-decryptBlob_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'af-decryptBlob'"
		},
		"batchEditProcessor_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'batchEditProcessor'"
		},
		"bioMetricHealthSFTP_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'bioMetricHealthSFTP'"
		},
		"blob_biometric_linked_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'blob_biometric_linked'"
		},
		"saEdiProcessorBatch_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'saEdiProcessorBatch'"
		},
		"sftp_biometric_linked_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'sftp_biometric_linked'"
		},
		"sftpsource_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'sftpsource'"
		},
		"af-decryptBlob_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://fa-decryptfile.azurewebsites.net"
		},
		"batchEditProcessor_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "babiomatric"
		},
		"batchEditProcessor_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://babiomatric.eastus.batch.azure.com"
		},
		"batchEditProcessor_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "babiomatricpoolmultitask"
		},
		"bioMetricHealthSFTP_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "20.81.27.30"
		},
		"bioMetricHealthSFTP_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": " AZBiometricHealth"
		},
		"blob_biometric_linked_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sabiometric.dfs.core.windows.net"
		},
		"sftp_biometric_linked_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "sjgm3yzmtomr6.eastus.azurecontainer.io"
		},
		"sftp_biometric_linked_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "AZBiometricHealth"
		},
		"sftpsource_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "40.114.118.70"
		},
		"sftpsource_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "azlinuxVM"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/sftpCopyData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Run dataflow with Explicit copy to ingest copy source",
				"activities": [
					{
						"name": "LoadData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"wildcardFolderPath": "upload/Inbound",
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ""
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "csvSource",
								"type": "DatasetReference",
								"parameters": {
									"filename": "Sample-Spreadsheet-10-rows.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "rawFiles_SinkDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "LoadData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "rawFiles_SinkDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [
							{
								"name": "item",
								"value": "@item()"
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Azure Function1",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": {
											"value": "@concat('decryptFile/',item().name)",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "{\"filename\":\"@{item().name}\"}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "af-decryptBlob",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Custom1",
									"type": "Custom",
									"dependsOn": [
										{
											"activity": "Azure Function1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"command": {
											"value": "cmd  /C \"7z e -y %AZ_BATCH_TASK_WORKING_DIR%\\EdiParserProd.7z  &&  ediFabricParser\"",
											"type": "Expression"
										},
										"resourceLinkedService": {
											"referenceName": "saEdiProcessorBatch",
											"type": "LinkedServiceReference"
										},
										"folderPath": "applications/EdiParser",
										"extendedProperties": {
											"fileName": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										"referenceObjects": {
											"linkedServices": [],
											"datasets": []
										}
									},
									"linkedServiceName": {
										"referenceName": "batchEditProcessor",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-08T08:45:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csvSource')]",
				"[concat(variables('factoryId'), '/datasets/rawFiles_SinkDataset')]",
				"[concat(variables('factoryId'), '/linkedServices/af-decryptBlob')]",
				"[concat(variables('factoryId'), '/linkedServices/saEdiProcessorBatch')]",
				"[concat(variables('factoryId'), '/linkedServices/batchEditProcessor')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sftp_biometric_linked",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "Sample-Spreadsheet-10-rows.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/upload/Inbound"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sftp_biometric_linked')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/rawFiles_SinkDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blob_biometric_linked",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blob_biometric_linked')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/rawsource_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sftp_biometric_linked",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/upload/Inbound"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sftp_biometric_linked')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/af-decryptBlob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('af-decryptBlob_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('af-decryptBlob_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/batchEditProcessor')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"accountName": "[parameters('batchEditProcessor_properties_typeProperties_accountName')]",
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('batchEditProcessor_accessKey')]"
					},
					"batchUri": "[parameters('batchEditProcessor_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('batchEditProcessor_properties_typeProperties_poolName')]",
					"linkedServiceName": {
						"referenceName": "saEdiProcessorBatch",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/saEdiProcessorBatch')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bioMetricHealthSFTP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('bioMetricHealthSFTP_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('bioMetricHealthSFTP_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('bioMetricHealthSFTP_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_biometric_linked')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('blob_biometric_linked_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('blob_biometric_linked_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/saEdiProcessorBatch')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('saEdiProcessorBatch_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sftp_biometric_linked')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('sftp_biometric_linked_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('sftp_biometric_linked_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('sftp_biometric_linked_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sftpsource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('sftpsource_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('sftpsource_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('sftpsource_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}